
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --logo-color: #F9FAF8;
    --link-color: #E5E7EB;
    --hero-main-style: 48px extra-bold;
    --header-footer-bgrd: #1F2937;
    --button-color: #3882F6;
    font-family: 'Roboto', sans-serif;
    cursor:auto;

}

body{
    margin: 0px;
}
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    margin: 0px;
    background-color: var(--header-footer-bgrd);

}

.logo{
    width: 300px;
    font-size: 24px;
    color: var(--logo-color);
    cursor: pointer;
}

nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: var(--link-color);
    font-size: 18px;
   
}

a{
    text-decoration: none;
    cursor: pointer;

}

/*Hero-main*/

.hero-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 50px 30px;
    background-color: var(--header-footer-bgrd);
    color: var(--link-color);
}

.hero-main-container > div{
 
    width: 30%;
    height: auto;
    flex-shrink: 1;
}

.hero-main.textbox > h2{
    font-size: 48px;
    margin:0px;

}
.hero-main.textbox{
    display: block;

}
.hero-main.textbox >*{
    display: inline-block;
  
}

.hero-main.textbox > button{
    background-color: var(--button-color);
    width: 45%;
    border-radius: 5px;
    border: 0px;
    color: var(--link-color);
    cursor: pointer;
}



.hero-main.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303d51;
}






