
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --logo-color: #F9FAF8;
    --link-color: #E5E7EB;
    --hero-main-style: 48px extra-bold;
    --header-footer-bgrd: #1F2937;
    --button-color: #3882F6;
    font-family: 'Roboto', sans-serif;
    cursor:auto;

}

body{
    margin: 0px;
}
header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    margin: 0px;
    background-color: var(--header-footer-bgrd);

}

.logo{
    width: 300px;
    font-size: 24px;
    color: var(--logo-color);
    cursor: pointer;
}

nav{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: var(--link-color);
    font-size: 18px;
   
}

a{
    text-decoration: none;
    cursor: pointer;

}

/*Hero-main*/

.hero-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 100px 30px;
    background-color: var(--header-footer-bgrd);
    color: var(--link-color);
}

.hero-main-container > div{
 
    width: 30%;
    height: auto;
    flex-shrink: 1;
}

.hero-main.textbox > h2{
    font-size: 48px;
    margin:0px;

}
.hero-main.textbox{
    display: block;

}
.hero-main.textbox >*{
    display: inline-block;
  
}

.hero-main.textbox > button{
    background-color: var(--button-color);
    width: 45%;
    border-radius: 5px;
    border: 0px;
    color: var(--link-color);
    cursor: pointer;
}



.hero-main.image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303d51;
}

/*Info*/

.info-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 3rem;
    padding: 40px;
    margin: 40px;

}
.info-main-container > h3{
   font-size: 30px;

}

.items-container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 70%;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item.image{
    display: block;
    box-sizing: border-box;
    border: 5px var(--button-color) solid;
    height: 10rem;
    width: 10rem;
    border-radius: 10px;
}


.quote-section{
    display: flex;
    place-content: center;
    background-color: var(--link-color);
    padding: 50px 40px;
    
}
.quote-container{
    width: 50%;
    text-align: center;
    background-color: var(--link-color);
}

.quote-container > p{
    text-align: right;
    font-size: 20px;
}
.quote-container > h3{
    text-align: center;
    font-size: 36px;
    color: var(--header-footer-bgrd);
    font-style: italic;
    font-weight:100;
}

/*Call to Action*/

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-to-action-container{
    background-color: var(--button-color);
    width: 60%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 30px 50px;
    margin: 40px 50px;
    border-radius: 5px;

}

.cta-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 auto;
    color: var(--logo-color);

}
.cta-text > *{
    margin: 0px;
}

.cta-text > h5{
    font-size: 24px;
}




.call-to-action-container > button{
    flex: .3 0 auto;
    align-self: center;
    height: 4vw;
    border: 1px var(--logo-color) solid;
    border-radius: 5px;
    color: var(--logo-color);
    background-color:var(--button-color);
    
    
}








